#addTodo
{
    -fx-font-size: 20;
    -fx-background-color: #333333;
    -fx-text-fill: #888888;
    -fx-font-weight: bold;
}

#addPanel
{
    -fx-background-color: #666666;
}

.root
{
    -fx-background-color: #666666;
}